---
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="http://icharlesiphones.com">
                  <svg
                    id="logo-02"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 45.487 69.838"
                    className="cursor-pointer"
                  >
                    <path
                      id="Path_14"
                      data-name="Path 14"
                      d="M65.622,0A17.919,17.919,0,0,1,65.8,2.214a16.794,16.794,0,0,1-2.018,7.3,18.517,18.517,0,0,1-5.641,6.451,10.453,10.453,0,0,1-4.979,1.818l-2.253.286c.038-.7.038-1.34.111-1.975a21.414,21.414,0,0,1,2.133-7.467,14.776,14.776,0,0,1,6.827-6.7A26.68,26.68,0,0,1,65.186.064,3.413,3.413,0,0,1,65.622,0Z"
                      transform="translate(-29.188)"
                      fill="#d1d3d4"
                    />
                    <path
                      id="Path_15"
                      data-name="Path 15"
                      d="M39.518,80.907c-4.228,3.942-8.107,6.34-14.161,6.34-9.438.017-16.269-7.8-16.269-17.434v-.141c0-9.673,6.9-17.421,16.269-17.421,5.636,0,9.865,2.466,13.807,6.131a4.938,4.938,0,0,0,4.463-.567,4.777,4.777,0,0,0,1.105-5.845,30.23,30.23,0,0,0-7.9-5.474c-3.226-1.532-5.21-2.475-7.68-2-2.133.427-2.739,1.519-5.12,1.6-2.167.077-3.174-.806-4.693-1.131-3.772-.815-7.548,2.56-9.886,4.693C2.18,56.224.452,66.366,0,69.813v.141c0,.457,0,.909.034,1.357A14.306,14.306,0,0,1,10.987,85.174,14.309,14.309,0,0,1,10,90.391a25.016,25.016,0,0,0,15.074,4.886c9.229,0,14.865-3.383,20.007-8.734a4.211,4.211,0,0,0-5.547-5.636Z"
                      transform="translate(0 -25.44)"
                      fill="#d1d3d4"
                    />
                  </svg>
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full">
                  <tr>
                    <td
                      class="p-12 sm:px-6 bg-white text-slate-700 text-base text-left leading-6 rounded shadow-sm"
                    >
                      <p>Hello, <span class="font-bold">Admin</span></p>
                      <p
                        class="text-2xl sm:leading-8 text-black font-semibold m-0 mb-6"
                      >
                        New Order!
                      </p>
                      <p class="m-0 mb-6">There is a new order.</p>
                      <div class="leading-full">
                        <!-- <a
                          href="https://example.com"
                          class="inline-block py-3.5 px-4 rounded text-base font-semibold text-center [text-decoration:none] text-white bg-indigo-700 hover:bg-indigo-500"
                        >
                          <outlook>
                            <i class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                          </outlook>
                          <span class="mso-text-raise-4">Confirm email address &rarr;</span>
                          <outlook>
                            <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                          </outlook>
                        </a> -->
                      </div>

                      <div class="mb-6">
                        <h4>Customer Shipping Address</h4>
                        <p class="m-0 p-0">3687 Fort Street</p>
                        <p class="m-0 p-0">Suburb</p>
                        <p class="m-0 p-0">witbank</p>
                        <p class="m-0 p-0">2477</p>
                        <p class="m-0 p-0">south africa</p>
                      </div>
                      <div
                        class="border-0 border-t border-solid border-black mb-4"
                      ></div>
                      <table class="border-spacing-4 w-full">
                        <tbody>
                          <tr>
                            <td class="text-gray-500 text-left w-10">
                              Customer Name
                            </td>
                            <td class="text-gray-500 text-left w-10">
                              Customer Email
                            </td>
                            <td class="text-gray-500 text-left w-10">
                              Phone Number
                            </td>
                          </tr>

                          <tr>
                            <td>Trevor Scott</td>
                            <td>trevor@email.com</td>
                            <td>07123456789</td>
                          </tr>
                        </tbody>
                      </table>
                      <div
                        class="border-0 border-t border-b border-solid border-black mb-4"
                      >
                        <table class="border-spacing-4 w-full">
                          <tbody>
                            <tr>
                              <td class="text-gray-500 text-left w-10">
                                Order Date
                              </td>
                              <td class="text-gray-500 text-left w-10">
                                Order Number
                              </td>
                              <td class="text-gray-500 text-left w-10">
                                Delivery Date
                              </td>
                            </tr>

                            <tr>
                              <td>15 July 2022</td>
                              <td>147758775</td>
                              <td>17 July 2022</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div
                        class="border-0 border-b border-solid border-black mb-4"
                      >
                        <!-- product begin -->
                        <table class="border-spacing-4 w-full">
                          <td>
                            <div
                              class="w-20 h-20 border-0 border border-slate-300 border-solid border-black rounded pt-2 pl-4"
                            >
                              <img
                                class="w-2/3 mx-auto"
                                src="../images/midnightgreen.jpg"
                                alt=""
                              />
                            </div>
                          </td>
                          <td>
                            <table>
                              <tr>
                                <p class="p-0 m-0 font-semibold">
                                  iPhone 12 - 64GB
                                </p>
                                <p class="p-0 m-0 text-sm">Color: Black</p>
                              </tr>
                            </table>
                          </td>
                          <td>
                            <p class="text-sm">Qty : 1</p>
                          </td>
                          <td>
                            <p class="font-semibold">R12 999.99</p>
                          </td>
                        </table>

                        <!-- product end -->
                      </div>
                      <!-- Order summary begin -->
                      <table class="w-full border-spacing-2">
                        <tr>
                          <td class="font-semibold">Subtotal</td>
                          <td class="text-right">R12 999.99</td>
                        </tr>
                        <tr>
                          <td class="font-semibold">Shipping</td>
                          <td class="text-right">R100</td>
                        </tr>
                        <tr>
                          <td class="font-semibold text-blue-600">Discount</td>
                          <td class="text-right text-blue-600 font-semibold">
                            -R0
                          </td>
                        </tr>
                      </table>
                      <div
                        class="border-0 border-t border-solid border-black mb-4"
                      ></div>

                      <table class="w-full border-spacing-2">
                        <tr>
                          <td class="font-semibold">Total</td>
                          <td class="text-right font-semibold">R13 099.99</td>
                        </tr>
                      </table>
                      <div
                        class="border-0 border-t border-solid border-black mt-4"
                      ></div>

                      <table class="w-full">
                        <tr>
                          <td class="py-8">
                            <div class="bg-slate-200 h-px leading-px">
                              &zwnj;
                            </div>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 mb-4 text-sm">
                        This is an auto email, please do not reply - you can
                        ignore this email if you are not the intended user.
                      </p>
                      <p class="m-0 mb-4 text-sm">
                        Thanks, <br />
                        <span class="text-blue-600 font-semibold"
                          >The iCharles Team</span
                        >
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="h-12"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-slate-600 text-xs px-6">
                      <p class="italic">
                        <a href="http://icharlesiphones/support">Unsubscibe</a>
                      </p>
                      <p>
                        Have Questions? Contact our
                        <a href="http://icharlesiphones/support"
                          >Customer Support</a
                        >
                      </p>

                      <p class="m-0 mb-2">2022 &copy; icharles iPhones</p>
                      <p class="m-0 mb-4">
                        Powered by Wazi Technologies (Pty) Ltd
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
